// Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$titleFont: "Bebas Neue";
$menuFont: "Raleway";
$bodyFont: "Helvetica";
$h1FontSize: 2.5em;

// Colors
$primaryColor: #6d699d;
$secondaryColor: #443e84;
$errorColor: red;
$backgroundColor: lightgrey;

// Spacing
$s: 10px;
$m: 15px;
$l: 20px;
$xl: 30px;
